<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @user.memberships.each do |membership| %>
      <tr>
        <td><%= membership.project.name %></td>
        <td><%= membership.project.name %></td>
        <td><%= link_to 'Show', project_path(membership.project) %></td>
        <td><%= link_to 'Edit', edit_project_path(membership.project) %></td>
        <td><%= link_to 'Destroy', membership.project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
