<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="responsive-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">
        <%= link_to t('railsbug'), root_path %>
      </li>
      <li><%= link_to t('project.view'), projects_path %></li>
      <% if logged_in? %>
          <li><%= link_to t('project.create'), new_project_path %></li>
          <li><%= link_to t('user.profile'), edit_profile_path %></li>
          <li><%= link_to t('session.logout'), logout_path %></li>
      <% else %>
          <li><%= link_to t('user.signin'), login_path %></li>
          <li><%= link_to t('user.signup'), signup_path %></li>
      <% end %>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Search"></li>
      <li><button type="button" class="button">Search</button></li>
    </ul>
  </div>
</div>
